.spinner {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
}

.gitIcon {
  color: #000000;
  transition: 0.3s ease-in-out;
}

.gitIcon:hover {
  color: #0f4c9c;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.affirmation {
    text-align: center;
    font-weight: bolder;
    color: #5196f0;
    max-width: 750px;
}
