.html, body {
  font-family: 'Poppins', sans-serif;
}

.window {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.affirmation {
  align-self: center;
}